.node {
  fill: #fdd;
  stroke: #fff;
  stroke-width: 2px;
}

.label {
  pointer-events: none;
  font: 10px sans-serif;
  fill: royalblue;
  font-weight: bold;
}

.link {
  stroke-width: 1px;
  stroke: #ffd87a;
}

.container {
  width: "100%";
  height: "100%";
  margin: auto;
  padding: 10px;
}
.one {
  height: "100%";
  float: left;
}
.two {
  margin-left: 5%;
  height: "100%";
}
